@font-face {
  font-family: "Neue Bit";
  src: url("/fonts/neuebit.woff2") format("woff2"),
    url("/fonts/neuebit.woff") format("woff");
}

body {
  margin: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  background-color: #202020;
}

#trunk {
  height: 500px;
  width: 100vw;
}

a {
  font-family: "Neue Bit";
  font-size: 48px;
  text-decoration: none;
  color: #d7d7d7;
  padding-top: 8px;
}

a:hover {
  color: #d1fa3d;
  background-color: #202020;
  text-decoration: underline;
}

.blog-link-wrapper {
  margin: 16px;
  padding-top: 8px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.scramble {
  margin-top: 8px;
  height: 40px;
}