@font-face {
  font-family: "Neue Bit";
  src: url("/fonts/neuebit.woff2") format("woff2"),
    url("/fonts/neuebit.woff") format("woff");
}

body {
  margin: 0;
  background-color: #202020;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.top {
  background-color: #d1fa3d;
  flex: 1;
}

.bottom {
  flex: 1;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

#trunk {
  height: 100%;
  width: 100vw;
}

a {
  font-family: "Neue Bit";
  font-size: 48px;
  text-decoration: none;
  color: #d7d7d7;
  padding-top: 8px;
}

a:hover {
  color: #d1fa3d;
  background-color: #202020;
  text-decoration: underline;
}

.scramble {
  margin-top: 8px;
  height: 40px;
}